<a asp-controller="Roles" asp-action="Listroles">List All Roles</a> <br />
<a asp-controller="Roles" asp-action="CreateRole">Create a Role</a> <br />
<a asp-controller="Roles" asp-action="AssignRoles">Assign Roles to Users</a><br />
