<div>
    <a class="btn btn-primary" asp-controller="Roles" asp-action="Listroles">List All Roles</a> 
    <a class="btn btn-primary" asp-controller="Roles" asp-action="CreateRole">Create a Role</a> 
    <a class="btn btn-primary" asp-controller="Roles" asp-action="AssignRoles">Assign Roles to Users</a>
</div>
