@page
@model Bankingsystem.Areas.Identity.Pages.Account.MessageSuccessModel
@{
}
<div>
    <h4>Thanks for registering with us !!</h4>
    <h5>You will shortly receive Email confirmation mail from Admin :)</h5>
</div>