@model ApplicationUser

<div>
    <h2>Welcome @Model.UserName !</h2>
    <h2>
        <a asp-controller="Account" asp-action="GetBalance">Balance</a><br />

        <a asp-controller="Account" asp-action="Depositform">Deposit</a><br />
        <a asp-controller="Account" asp-action="Withdrawform">Withdraw</a><br />
        <a asp-controller="Account" asp-action="Details">Your Details</a><br />
    </h2>

</div>