@model ApplicationUser

<div>
    <h2>Welcome @Model.UserName !</h2>
    <h2>
        <a asp-controller="Account" asp-action="GetBalance">Balance</a>

        <a asp-controller="Account" asp-action="Depositform">Deposit</a>
        <a asp-controller="Account" asp-action="Withdrawform">Withdraw</a>
        <a asp-controller="Account" asp-action="Details">Your Details</a>
    </h2>

</div>