@model AccountViewModel
<partial name="_SideBars" />
<div class="col-md-9">
    <h4>Your recharge was done successfully !</h4>
    <div>Mobile Number : @Model.MobileNumber</div>
    <div>Network: @Model.Network</div>
    <div>Recharge Amount: @Model.RechargeAmount</div>
</div>
