@model AccountViewModel
<partial name="_SideBars" />
<div class="col-md-9">
    <form asp-action="Withdraw" method="post">


        <div class="form-group">
            <label asp-for="WithdrawAmount" class="control-label">Please Enter Withdraw Amount</label>
            <div class="col-md-5 inputboxPad">
                <input asp-for="WithdrawAmount" class="form-control" required />
                <span asp-validation-for="WithdrawAmount" class="text-danger"></span>
            </div>
        </div>

        <input type="submit" class="w3-bar-item w3-button w3-dark-grey" value="Submit" />
    </form>
</div>
    
